fastapi
python-dotenv
uvicorn
litellm==1.82.6
pdfplumber
pydantic
pyjwt
email-validator
motor
certifi
numpy
langchain
langchain-community
langchain-core
langchain-mongodb
langchain-google-genai
wikipedia-api
mcp
cryptography
